<div class="container my-3">
<h2>My Bookings</h2>
  <div class="row">
    <% @bookings.each do |booking| %>
      <div class="col-12">
        <div class="card mt-3 shadow-sm d-flex flex-row fixed-height-card">
          <% if booking.datex.photo.attached? %>
            <div class="card-img-left fixed-image-height"><%= image_tag booking.datex.photo, class: "rounded-left img-fluid card-image" %></div>
          <% else %>
            <div class="card-img-left fixed-image-height"><%= image_tag "date2.png", class: "rounded-left img-fluid card-image" %></div>
          <% end %>
          <div class="card-body d-flex flex-column flex-grow-1">
            <div class="d-flex justify-content-between align-items-center">

            </div>
            <h5 class="card-title m-0"><%= link_to booking.datex.title, datex_path(booking.datex), class: "text-pink-color" %></h5>
            <p class="m-0"><%= link_to booking.fecha, booking_path(booking), class: "text-pink-color" %></>
            <p class="text-light-grey"><%= booking.datex.category %></p>
             <%= button_to 'Delete Booking', booking_path(booking), method: :delete, class: "btn btn-danger text-white btn-sm" %>
            <div class="d-flex justify-content-between mt-auto">
              <div class="p-1"><i class="fas fa-dollar-sign"></i> <%= booking.datex.price %></div>
              <div class="p-1"><i class="fas fa-users"></i> <%= booking.datex.guests %></div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>
