<h1>Edit Date</h1>

<%= simple_form_for @datex do |f| %>
  <%= f.input :title %>
  <%= f.input :content %>
  <%= f.input :address %>
  <%= f.input :price %>
  <%= f.input :category %>
  <%= f.input :guests %>
  <%= f.input :photo, as: :file %>
  <%= f.button :submit %>
<% end %>

<%= link_to 'Back', datex_path(@datex) %>
