    <div class="banner">
    <h5>Choose the perfect date with friends or your special one</h5>
  </div>
<div class="container">
  <%= render "shared/categories" %>
  <div class="row">
    <% @datexes.each do |datex| %>
      <div class="col-md-4">
        <div class="card mt-3 shadow-sm fixed-height-card">
          <% if datex.photo.attached? %>
            <div class="card-img-top fixed-image-height"><%= cl_image_tag datex.photo.key, class: "rounded-top img-fluid card-image" %></div>
          <% else %>
            <div class="card-img-top fixed-image-height"><%= image_tag "date2.png", class: "rounded-top img-fluid card-image" %></div>
          <% end %>
          <div class="card-body d-flex flex-column">
            <h5 class="card-title px-1 m-0"><%= link_to datex.title, datex_path(datex), class: "text-pink-color" %></h5>
            <p class="px-1 text-light-grey"><%=datex.category %></p>
            <div class="d-flex justify-content-start mt-auto">
            <div class="fas fa-dollar-sign p-1"> <%=datex.price %></div>
            <div class="fas fa-users p-1"> <%= datex.guests %></div>
            </div>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= link_to "Create a date", new_datex_path, class: "btn btn-primary mt-4 mb-4", data:{turbo_frame: "link"} %>
  <%= turbo_frame_tag "link" %>
   <div class="text-center"><h5>Take a look at our dates worldwide</h5></div>
  <div class="map-container"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
  >
  </div>
</div>
