<div class="container">
  <h1>Dates</h1>
  <div class="row">
    <% @datexes.each do |datex| %>
      <div class="col-md-4">
        <div class="card mt-3 shadow-sm">
          <div class="card-body">
            <h5 class="card-title"><%= link_to datex.title, datex_path(datex) %></h5>
            <p class="card-text"><%= datex.content %></p>
          </div>
        </div>
      </div>
    <% end %>
  </div>
  <%= link_to "Create a date", new_datex_path, class: "btn btn-primary mt-3" %>
  <div class="map-container"
    data-controller="map"
    data-map-markers-value="<%= @markers.to_json %>"
    data-map-api-key-value="<%= ENV['MAPBOX_API_KEY'] %>"
  >
  </div>
</div>
